<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Creation By Instructor</title>
</head>
<body>
    <h1>Course Creation</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}

            {% if field.errors %}
                <div style="color: red;">
                    {{field.errors}}
                </div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>